In [16]:
import numpy as np
import pandas as pd

cities = pd.read_csv("../data/cities.csv")
cities.rename(columns = {'id': "city_id"}, inplace=True)
cities.sample(10)

,city_id,name,coords,start_year,url_name,country,country_state
185,143,Charleston,POINT(-79.93333333 32.78333333),2017.0,charleston,United States,S.C.
5,10,Asunción,POINT(-57.66666667 -25.25),2017.0,asuncion,Paraguay,NaN
67,296,Ajaccio,POINT(8.728293822 41.92706484),2018.0,ajaccio,France,NaN
145,333,Cayenne,POINT(-52.33002059 4.932992166),2018.0,cayenne-france,France,NaN
18,272,Sinnamary,POINT(-52.95998214 5.380019144),2018.0,sinnamary,France,NaN
123,331,Le Havre,POINT(0.104970051 49.50497438),1890.0,le-havre,France,NaN
310,259,Rosario,POINT(-60.65 -32.95),2017.0,rosario,Argentina,NaN
164,170,Helena,POINT(-112.0333333 46.58333333),2017.0,helena,United States,Mont.
117,305,Dijon,POINT(5.030018268 47.33040428),2009.0,dijon,France,NaN
52,37,Chongqing,POINT(106.5666667 29.76666667),2017.0,chongqing,China,NaN

In [11]:
lines = pd.read_csv("../data/lines.csv")
lines.sample(16)

,id,city_id,name,url_name,color,system_id,transport_mode_id
264,240,79,R31,240-milano-mortara,#7ed321,269,3.0
1334,1462,124,La Cruz,1462-la-cruz,#4a90e2,493,7.0
825,929,82,S1,929-s1,#36caec,379,NaN
318,403,95,T Zen 4,403-t-zen-4,#c6cd01,301,6.0
657,760,236,Yellow Line Light Rail,760-tacoma-link,#f8e71c,221,NaN
1138,1266,206,Culver Line,1266-culver-line,#01ffdd,490,4.0
1032,212,69,Romford Shuttle - Upminster to Romford via Eme...,212-lo-(romford-shuttle),#9a8c00,262,3.0
811,925,82,U5,925-u5,#bb7700,70,NaN
254,266,106,Linha 4 • Amarela (ViaQuatro),266-linha-4---amarela,#fdd104,94,4.0
1016,303,95,M 7,303-ligne-7,#f49eb2,83,4.0
740,886,91,Nagahori Tsurumi-ryokuchi Line,886-nagahori-tsurumi-ryokuchi-line,#a9cc51,369,NaN
1105,1196,265,Nantes - Clisson,1196-nantes---clisson,#6e267b,468,3.0
517,543,114,Seibu-en Line,543-seibu-en-line,#33cc66,310,4.0
124,118,69,Waterloo & City Line,118-waterloo-&-city-line,#50e3c2,259,4.0
1090,1100,1,Juan B. Justo,1100-juan-b.-justo,#f3d379,416,6.0
161,254,116,Linea 1,254-linea-1,#d01f02,102,NaN

In [12]:
station_lines = pd.read_csv('../data/station_lines.csv')
station_lines.sample(16)

,id,station_id,line_id,city_id,created_at,updated_at
14807,7669,3765,325,114,2017-11-21 00:00:00,2017-11-21 00:00:00
15273,8135,4192,348,266,2017-11-21 00:00:00,2017-11-21 00:00:00
7029,9796,9937,948,82,2018-01-28 16:45:36.426706,2018-01-28 16:45:36.426706
12705,13801,13567,1267,206,2018-09-25 15:38:28.038667,2018-09-25 15:38:28.038667
7807,10383,10605,745,206,2018-02-15 21:59:28.843587,2018-02-15 21:59:28.843587
5978,6127,2835,230,79,2017-11-21 00:00:00,2017-11-21 00:00:00
8897,11524,11555,458,114,2018-06-07 16:52:36.625561,2018-06-07 16:52:36.625561
3539,3648,2275,171,69,2017-11-21 00:00:00,2017-11-21 00:00:00
5379,5522,4646,431,114,2017-11-21 00:00:00,2017-11-21 00:00:00
1947,2052,7419,316,265,2017-11-21 00:00:00,2017-11-21 00:00:00
4994,5110,1833,202,69,2017-11-21 00:00:00,2017-11-21 00:00:00
12845,13899,13665,1269,206,2018-09-26 17:22:43.025108,2018-09-26 17:22:43.025108
16180,16733,16497,1609,91,2019-03-01 22:18:38.575495,2019-03-01 22:18:38.575495
2364,2465,4128,328,114,2017-11-21 00:00:00,2017-11-21 00:00:00
7658,10055,10289,950,307,2018-01-28 20:14:28.345369,2018-01-28 20:14:28.345369
9239,10547,10720,969,286,2018-02-18 19:23:16.916538,2018-02-18 19:23:16.916538

In [6]:
stations = pd.read_csv('../data/stations.csv')
stations

,id,name,geometry,buildstart,opening,closure,city_id
0,7694,Keisei Tsudanuma,POINT(140.024812197129 35.6837744784723),1921.0,1921.0,999999.0,114
1,6003,Kossuth Lajos tér,POINT(19.0462376564033 47.5054880717671),0.0,0.0,999999.0,29
2,7732,Saint-Charles,POINT(5.3801556 43.3024646),1973.0,1977.0,999999.0,74
3,7695,Keisei Makuhari-Hongo,POINT(140.042146725175 35.6726021159981),1991.0,1991.0,999999.0,114
4,7726,Chartreux,POINT(5.4014815 43.309129),1973.0,1977.0,999999.0,74
...,...,...,...,...,...,...,...
15789,16554,Shinomiya,POINT(135.823937214498 34.9918683039252),1912.0,1912.0,999999.0,91
15790,16555,Keihan Yamashina,POINT(135.816689306704 34.992068923936),1912.0,1912.0,999999.0,91
15791,16556,Hino-oka,POINT(135.799931852138 34.9968986641574),1912.0,1912.0,1997.0,91
15792,16557,Kujoyama,POINT(135.792375683554 35.0018274164674),1936.0,1936.0,1997.0,91
15793,16558,Keage,POINT(135.789089795388 35.0092276439636),1912.0,1912.0,1997.0,91

In [13]:
systems = pd.read_csv('../data/stations.csv')
systems

,id,name,geometry,buildstart,opening,closure,city_id
0,7694,Keisei Tsudanuma,POINT(140.024812197129 35.6837744784723),1921.0,1921.0,999999.0,114
1,6003,Kossuth Lajos tér,POINT(19.0462376564033 47.5054880717671),0.0,0.0,999999.0,29
2,7732,Saint-Charles,POINT(5.3801556 43.3024646),1973.0,1977.0,999999.0,74
3,7695,Keisei Makuhari-Hongo,POINT(140.042146725175 35.6726021159981),1991.0,1991.0,999999.0,114
4,7726,Chartreux,POINT(5.4014815 43.309129),1973.0,1977.0,999999.0,74
...,...,...,...,...,...,...,...
15789,16554,Shinomiya,POINT(135.823937214498 34.9918683039252),1912.0,1912.0,999999.0,91
15790,16555,Keihan Yamashina,POINT(135.816689306704 34.992068923936),1912.0,1912.0,999999.0,91
15791,16556,Hino-oka,POINT(135.799931852138 34.9968986641574),1912.0,1912.0,1997.0,91
15792,16557,Kujoyama,POINT(135.792375683554 35.0018274164674),1936.0,1936.0,1997.0,91
15793,16558,Keage,POINT(135.789089795388 35.0092276439636),1912.0,1912.0,1997.0,91

In [8]:
track_lines = pd.read_csv('../data/track_lines.csv')
track_lines

,id,section_id,line_id,created_at,updated_at,city_id
0,2494,1278,343,2017-11-21 00:00:00,2017-11-21 00:00:00,252
1,4124,4477,779,2017-11-21 00:09:55.135507,2017-11-21 00:09:55.135507,63
2,2495,21,9,2017-11-21 00:00:00,2017-11-21 00:00:00,1
3,2496,940,228,2017-11-21 00:00:00,2017-11-21 00:00:00,79
4,4129,4478,793,2017-11-21 17:44:39.765832,2017-11-21 17:44:39.765832,48
...,...,...,...,...,...,...
9752,10699,10530,1611,2019-03-06 22:23:46.008756,2019-03-06 22:23:46.008756,91
9753,10700,10531,1611,2019-03-06 22:27:46.532431,2019-03-06 22:27:46.532431,91
9754,10701,10532,1611,2019-03-06 22:30:58.779519,2019-03-06 22:30:58.779519,91
9755,10702,10533,1610,2019-03-08 21:57:21.68915,2019-03-08 21:57:21.68915,91
9756,10703,10534,1614,2019-03-08 22:04:02.309454,2019-03-08 22:04:02.309454,91

In [9]:
tracks = pd.read_csv('../data/tracks.csv')
tracks

,id,geometry,buildstart,opening,closure,length,city_id
0,1911,"LINESTRING(19.0817752 47.5005079,19.0817355 47...",0.0,0.0,999999.0,6719,29
1,2563,"LINESTRING(16.4151057 48.1907238,16.4156455 48...",0.0,0.0,999999.0,199,118
2,2557,"LINESTRING(16.4164437 48.1839655,16.4161534 48...",0.0,0.0,999999.0,925,118
3,2558,"LINESTRING(16.4164901 48.1839473,16.416198 48....",0.0,0.0,999999.0,881,118
4,2564,"LINESTRING(16.415259 48.1908074,16.4153634 48....",0.0,0.0,999999.0,213,118
...,...,...,...,...,...,...,...
9266,9732,"LINESTRING(-3.838067 56.0044551,-3.8385588 56....",0.0,0.0,999999.0,383,48
9267,9734,"LINESTRING(-3.8549229 55.9960854,-3.8544735 55...",0.0,0.0,999999.0,28,48
9268,9735,"LINESTRING(-3.8597111 55.9955538,-3.8572319 55...",0.0,0.0,999999.0,305,48
9269,9736,"LINESTRING(-3.8544735 55.9961285,-3.8529015 55...",0.0,0.0,999999.0,828,48
9270,9733,"LINESTRING(-3.8599176 55.9955291,-3.8597111 55...",0.0,0.0,999999.0,13,48